<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
</head>
<body ng-app="YOtest">
    <div ng-controller="firstController">
        <!--<input type="text" name="text" ng-model="title" id=""/>-->
        <ul ng-click="targetName(this)">
            <li ng-repeat="lists in list">
                {{ lists.name }}
            </li>
        </ul>
    </div>
</body>
</html>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="Scripts/main.js"></script>